# Compiler files
cache/
out/

# Development broadcast logs
broadcast/

# Experimental contracts
sandbox/

# Docs
docs/

# Personal notes
notes.md

# Environment variables
.env

# System files
.DS_Store

# IDE settings
.vscode/
